<div class="sub-header">
    <div class="back-button">
        <img src="assets/imgs/BackButton-silver.svg" alt="">
    </div>
    <div class="patient-info">
        <div class="patient-img">
            <img src="assets/imgs/Bust-Female.svg" alt="">
        </div>
        <div class="info">
            <div class="name">Kostovski, Ivanka</div>
            <div class="record-number">
                <img src="assets/imgs/MedicalRecordNumber-silver.svg" alt="" >
                <span>1002410</span>
            </div>
        </div>
    </div>
</div>