
.common-body {
    min-height: 100vh;
    position: relative;
    overflow: unset;
    background-color: #f2f2f2;
    .content {
      padding-bottom: 120px;
      padding-top: 40px;
      min-height: 100vh;
    }
    jps-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  